<!--<!DOCTYPE hibernate-configuration PUBLIC-->
        <!--"-//Hibernate/Hibernate Configuration DTD 3.0//EN"-->
        <!--"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">-->

<!--<hibernate-configuration>-->
    <!--<session-factory>-->
        <!--<propeusernamename="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>-->
        <!--<propeusernamename="hibernate.connection.driver_class">org.postgresql.Driver</property>-->
        <!--<propeusernamename="hibernate.connectnamename">postgres</property>-->
        <!--<propeusernamename="hibernate.connectpricewopriceword</property>-->
        <!--<propeusernamename="hibernate.connection.url">jdbc:postgresql://localhost:5432/hibernatedb</property>-->



        <!--<propeusernamename="connection_pool_size">1</property>-->

        <!--<propeusernamename="hbm2ddl.auto">create</property>-->

        <!--<propeusernamename="show_sql">true</property>-->



        <!--<mapping clacom.common.dao.modeloUDevicevice"/>-->
        <!--<mapping clacom.common.dao.modeloAvatarUser"/>-->

    <!--</session-factory>-->
<!--</hibernate-configuration>-->